

@{
    ViewBag.Title = "Index";
}
    

    <body>
        <!-- Page Content -->
        <div class="container">

            <!-- Portfolio Item Heading -->
            <h1 class="my-4" style="color:red">
                Today Special
                <small style="color:seagreen;">Available Now</small>
            </h1>

            <!-- Portfolio Item Row -->
            <div class="row">

                <div class="col-md-8">
                    <img class="img-fluid" src="@Url.Content("C:/Project/FoodOrdering/FoodOrdering/Image/lunchbox5.jpg")" alt="">
                    <img class="img-fluid" src="@Url.Content("C:/Project/FoodOrdering/FoodOrdering/Image/rainbowcake.PNG")" alt="">
                    <img class="img-fluid" src="@Url.Content("C:/Project/FoodOrdering/FoodOrdering/Image/low-carb.jpg")" alt="">
                </div>

                <div class="col-md-4">
                    <h3 class="my-3" style="color:orangered">Lunch Box</h3>
                    <p>Lunch boxes are useful for workers and some busy woman.Our lunch boxes are healthy and fresh.We can deliver any time.So, you can believe our Yummy Yummy.</p>
                    <h3 class="my-3" style="color:darkblue;">Available lunch box</h3>
                    <ul>
                        <li>Lunch box with meat</li>
                        <li>Lunch box for officer</li>
                        <li>Lunch box for kids</li>
                        <li>Lunch box for snack</li>
                    </ul>
                </div>

            </div>
            <!-- /.row -->
            <!-- Related Projects Row -->
            <h3 class="my-4" style="color:purple">Lunch Boxes</h3>

            <div class="row">

                <div class="col-md-3 col-sm-6 mb-4">
                    <a href="#">
                        <img class="img-fluid" src="@Url.Content("C:/Project/FoodOrdering/FoodOrdering/Image/lunchbox1.jpg")" alt="">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-4">
                    <a href="#">
                        <img class="img-fluid" src="@Url.Content("C:/Project/FoodOrdering/FoodOrdering/Image/lunchbox4.jpg")" alt="">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-4">
                    <a href="#">
                        <img class="img-fluid" src="@Url.Content("C:/Project/FoodOrdering/FoodOrdering/Image/lunchbox2.jpg")" alt="">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-4">
                    <a href="#">
                        <img class="img-fluid" src="@Url.Content("C:/Project/FoodOrdering/FoodOrdering/Image/lunchbox5.jpg")" alt="">
                    </a>
                </div>

            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->
    </body>